@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
    font-family: 'Figtree', sans-serif;
}

body {
    margin: 0;
}

.container {
    background-color: var(--yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 1.5rem;
}

.card {
    border: 1.5px solid var(--gray-950);
    border-radius: 1rem;
    padding: 1.5rem;
    background-color: var(--white);
    width: 330px;
    box-shadow: 7px 7px 1px 1px rgba(0, 0, 0, 1);
}

.blog-image {
    border-radius: 1rem;
    width: 100%;
    height: auto;
    margin-bottom: .5rem;
}

.blog-category {
    font-weight: 800;
    padding: .5rem;
    background-color: var(--yellow);
    border-radius: 5px;
    text-align: center;
    width: 23%;
}

.blog-date {
    font-weight: 500;
}

.blog-header:hover {
    color: var(--yellow);
}

.blog-text {
    color: var(--gray-500);
}

.avatar {
    display: flex;
    align-items: center;
}

.avatar-image {
    width: 35px;
    padding-right: 1rem;
}

.avatar-name {
    font-weight: 800;
}

@media (max-width: 375px) {
    .container {
        font-size: 13px;
    }
}